<footer class="footer">
    <div class="container-fluid">
        <nav class="pull-left">
            <ul>
                <li>
                    <a href="#">
                        Home
                    </a>
                </li>
<!--                <li>-->
<!--                    <a href="#">-->
<!--                        Company-->
<!--                    </a>-->
<!--                </li>-->
<!--                <li>-->
<!--                    <a href="#">-->
<!--                        Portfolio-->
<!--                    </a>-->
<!--                </li>-->
<!--                <li>-->
<!--                    <a href="#">-->
<!--                        Blog-->
<!--                    </a>-->
<!--                </li>-->
            </ul>
        </nav>
        <p class="copyright pull-right">
            {{test | date: 'yyyy'}} <a href="http://cs480-projects.github.io/teams-spring2023/ALM/index.html">Jot it!</a> Team Splash Page
        </p>
    </div>
</footer>
